{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FutureTune | Investment</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="min-h-screen bg-gray-100 p-4">
      <div class="relative">
        <img
          src="{% static 'Images/earth.jpg' %}"
          alt="Header Image"
          class="w-full h-48 object-cover rounded-lg"
        />
        <a href="{% url "help" %}">
          <img
            src="{% static 'Images/help.jpg' %}"
            alt="Profile Image"
            class="absolute top-4 right-4 w-12 h-12 rounded-full border-2 border-white"
          />
        </a>
      </div>

      <div class="mt-4 flex">
        <div class="w-1/4">
          <a href="{% url 'invest' %}">
            <div
              class="bg-blue-500 text-white rounded-lg p-2 mb-2 flex items-center hover:bg-blue-600 cursor-pointer"
            >
              <span class="material-icons">calendar_today</span>
              <span class="ml-2">Monthly</span>
            </div>
          </a>
          <a href="{% url 'daily_invest' %}">
            <div
              class="bg-gray-200 text-gray-700 rounded-lg p-2 mb-2 flex items-center hover:bg-gray-300 cursor-pointer"
            >
              <span class="material-icons">today</span>
              <span class="ml-2">Daily</span>
            </div>
          </a>
          <a href="{% url 'activity_invest' %}">
            <div
              class="bg-gray-200 text-gray-700 rounded-lg p-2 mb-2 flex items-center hover:bg-gray-300 cursor-pointer"
            >
              <span class="material-icons">trending_up</span>
              <span class="ml-2">Weekly</span>
            </div>
          </a>
          <a href="{% url 'orders' %}">
            <div
              class="bg-blue-500 text-white rounded-lg p-2 mb-2 flex items-center hover:bg-blue-600 cursor-pointer"
            >
              <span class="material-icons">shopping_cart</span>
              <span class="ml-2">My Order</span>
            </div>
          </a>
        </div>
        <div class="w-3/4 ml-4">
          {% for plan in plans %}
          <div class="bg-white rounded-lg p-4 mb-4 shadow">
            <h2 class="text-lg font-semibold">{{plan.name}}</h2>
            <p class="text-gray-500">
              Price <span class="text-green-500 font-bold">₹{{plan.price}}</span>
            </p>
            <p class="text-gray-500">
              Revenue <span class="text-green-500 font-bold">{{plan.revenue}} days</span>
            </p>
            <p class="text-gray-500">
              Daily Earnings
              <span class="text-green-500 font-bold">₹{{plan.daily}}</span>
            </p>
            <p class="text-gray-500">
              Total Revenue
              <span class="text-green-500 font-bold">₹{{plan.total}}</span>
            </p>
            <a href="{% url 'invest_plan' plan.name %}">
              <button class="bg-blue-500 text-white rounded-lg mt-2 px-4 py-2 hover:bg-blue-600 cursor-pointer">
                Invest Now
              </button>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>

      <div
        class="fixed bottom-0 left-0 right-0 bg-zinc-800 p-2 shadow-md flex justify-around"
      >
        <a href="{% url "home" %}">
          <div class="flex flex-col items-center">
            <img
              src="https://img.icons8.com/ios-filled/50/ffffff/home.png"
              alt="Home"
              class="h-6"
            />
            <span class="text-xs text-zinc-300">Home</span>
          </div>
        </a>
        <a href="{% url "invest" %}">
          <div class="flex flex-col items-center">
            <img
              src="https://img.icons8.com/ios-filled/50/ffffff/investment.png"
              alt="Invest"
              class="h-6"
            />
            <span class="text-xs text-zinc-300">Invest</span>
          </div>
        </a>
        <a href="{% url "review" %}">
          <div class="flex flex-col items-center">
            <img
              src="https://img.icons8.com/?size=100&id=54386&format=png&color=ffffff"
              alt="Review"
              class="h-6"
            />
            <span class="text-xs text-zinc-300">Support</span>
          </div>
        </a>
        <a href="{% url "account" %}">
          <div class="flex flex-col items-center">
            <img
              src="https://img.icons8.com/ios-filled/50/ffffff/user.png"
              alt="Account"
              class="h-6"
            />
            <span class="text-xs text-zinc-300">Account</span>
          </div>
        </a>
      </div>
    </div>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    /><!-- Telegram Popup -->
    <div
      id="telegramPopup"
      class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white shadow-lg rounded-lg p-6 z-50"
      style="max-width: 400px; display: none"
    >
      <button
        class="absolute top-3 right-3 text-gray-600 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-300"
        onclick="closePopup()"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 6l12 12"
          />
        </svg>
      </button>
      <div class="flex items-center mb-4">
        <img
          src="https://th.bing.com/th/id/R.856125c6aca3db8a02f309f4eb9fe9ad?rik=YhEI4FnHZJbfJw&riu=http%3a%2f%2fassets.stickpng.com%2fthumbs%2f5842a8fba6515b1e0ad75b03.png&ehk=rRMAIHTvtZrw%2bnhc892BXLEPZ5%2fU7zMg6qHMWdM%2bBFY%3d&risl=&pid=ImgRaw&r=0"
          alt="Telegram Logo"
          class="w-10 h-10 rounded-full mr-4"
        />
        <h2 class="text-lg font-bold text-gray-800">
          Join Our Telegram Channel
        </h2>
      </div>
      <p class="text-gray-600 mb-4">
        Stay updated with the latest news and updates from our website!
      </p>
      <a
        href="https://t.me/+_gMhdEhnQwAzNzRl"
        target="_blank"
        class="inline-block px-6 py-3 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out bg-blue-600 hover:bg-blue-700 focus:bg-blue-700"
        >Join Now</a
      >
    </div>

    {% comment %} <script>
      // Function to show the popup
      function showPopup() {
        document.getElementById("telegramPopup").style.display = "block";
      }

      // Function to close the popup
      function closePopup() {
        document.getElementById("telegramPopup").style.display = "none";
      }

      // Show the popup after a short delay (adjust the delay as needed)
      let popupCount = 0;
      function showPopupWithCount() {
        if (popupCount < 3) {
          showPopup();
          popupCount++;
        }
      }

      // Show the popup on page load
      showPopupWithCount();

      // Add event listener for closing the popup
      document
        .getElementById("telegramPopup")
        .addEventListener("click", (event) => {
          if (event.target.classList.contains("popup-close")) {
            closePopup();
            setTimeout(showPopupWithCount, 2000); // Show again after 3 seconds
          }
        });
    </script> {% endcomment %}
  </body>
</html>
